*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    padding: 15px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-after {
    font-size: 20px;
    color: rgb(58, 58, 58);
}

.user-tab {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-tab i {
    font-size: 22px;
}

.user-img-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid green;
    overflow: hidden;
}

.navbar-link {
    display: flex;
    gap: 25px;
    padding-left: 0;
    border-bottom: 1px solid grey;
    list-style: none;
}

.navbar-link li {
    padding-bottom: 10px;
    cursor: pointer;
}

.navbar-link li:hover, li.active {
    color: blue;
    border-bottom: 2px solid blue;
}

h3 {
    margin-top: 35px;
    font-size: 20px;
}

p {
    padding: 15px 0;
}

footer {
    background-color: lightgrey;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

#language {
    width: 150px;
}